ErrorDocument 404 404.php
Options +FollowSymLinks
RewriteEngine on
RewriteBase /~mjl7592/539/project3/A/
RewriteRule ^([a-zA-Z]*)/?([a-zA-Z]*)?/?([a-zA-Z0-9]*)?/?$ index.php?controller=$1&action=$2&id=$3 [QSA]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d